
<%- include('partials/header') -%>
<h1>A Letter from a Stoic</h1>
<p><%= content %></p>
<% if(posts.length) { %>
<% for (let post of posts) { %>
  <div class=>
    <h3><%= post.title %></h3>
    <p class="posts"><%= post.body.substring(0,100) %>
      <% if(post.body.length > 100) { %>
      ...
      <a href='/posts/<%=post._id %>'>read more</a>
      <% } %>
    </p>
  </div>

<% } } %>

<%- include('partials/footer') -%>
